html
head
    title= title 
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Montserrat|Roboto+Mono|Roboto')
    style
        include style.css
body
    #header-top
        #header-top-content
            h1 METAR READER
    
    .sticky
        #header-bottom
            ul
                -var airport = '';
                input(type="text" id="icao" maxlength=4 placeholder="Enter an ICAO code" onchange="airport = document.getElementById('icao').value;")
                input(type='button' value="GO" id="goIcao" onclick="location.replace('/metar/'+airport);")
                script.  
                    var box = document.getElementById("icao");
                    box.addEventListener("keyup", function(event) {
                        if (event.keyCode === 13) {
                            event.preventDefault();
                            document.getElementById("goIcao").click();
                        }
                    });
                li
                    a(href='/') HOME
                li
                    a(href='/howto') GUIDE

    #mainpage
        - var temp= homeMessage;
        p !{temp}
        //the !{} is needed for the html in temp to actually work.

        - var temp= metarMessage;
        p !{temp} 
        - var temp= visMessage;
        p !{temp} 
        - var temp= windMessage;
        p !{temp} 
        - var temp= tempretureMessage;
        p !{temp} 
        - var temp= cloudMessage;
        p !{temp}
        - var temp= weatherMessage;
        p !{temp}
        - var temp= tafMessage;
        p !{temp}
        - var temp= infoMessage;
        p !{temp}
        - var temp= runwayMessage;
        p !{temp}
        - var temp= rawMessage;
        p !{temp}